:root{
    --green:#3E8E37;
    --font-lato: 'Lato', sans-serif;
}
.branches-main{
    height: auto;
    display: flex;
    padding:1rem 0;
    flex-direction: column;
}
.branches-image{
    height: auto;
    width: 100%;
}
.branches-title{
    height: auto;
    font-size: 2rem;
    color:var(--green);
    width:100%;
    text-align: center;
}
.branches-grid{
    display: grid;
    grid-template-columns: repeat(1,auto);
}
.branches-item{
    display: flex;
    flex-direction: column;
    height: auto;
    border:1px solid var(--green);
    border-radius: 20px;
    padding:1rem;
    margin:1rem;
    width: auto;
    overflow-wrap: break-word;
}
.branches-item-title{
    color:var(--green)
}
.address-view{
    display: flex;
    height: auto;
    width: auto;
    padding:0.5rem 0.5rem;
}
.fas.fa-map-marker-alt,
.fas.fa-phone-alt{
    margin: 0 0.5rem;
    height: auto;
    padding:0.2rem 0;
}
.address{
    display: flex;
    flex-direction: column;
}
.phone-view{
    display: flex;
    padding:0.5rem 0.5rem;
}
.phone{
    height: auto;
}

@media screen and (min-width:960px){
    .branches-image{
        height: 15rem;
    }
    .branches-grid{
        grid-template-columns: repeat(4,auto);
    }
}