:root{
    --green:#3E8E37;
    --extra-font: 'Lato', sans-serif;
    --black-shadow: 1px 1px 8px 6px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.delivery-options-main{
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    height: auto;
    min-height:22rem;
}
.delivery-options-title{
    text-align:center;
    height: auto;
    font-size:2rem;
    margin: 1rem 0;
}
.delivery-options-buttons{
    height: 3rem;
    text-align: center;
    color:white;
    border-radius: 30px;
    margin: 1rem 1.5rem;
    display: flex;
    box-shadow: var(--black-shadow);
    color:var(--green);
}
.delivery-options-buttons-delivery{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    overflow: hidden;
}
.delivery-options-buttons-delivery-clicked{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    background:var(--green);
    color:white;
    overflow: hidden;
}
.delivery-options-buttons-pickup{
    width:50%;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.delivery-options-buttons-pickup-clicked{
    width:50%;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--green);
    color:white;
    overflow: hidden;
}
.delivery-options-area-menu{
    height: auto;
    margin:1rem 1.5rem;
    padding:0.2rem 0.5rem;
    display: flex;
    color:white;
    background:var(--green);
    align-items:center;
}
.delivery-options-area-menu-add{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.delivery-options-area-menu-title{
    width:50%;
}
.fas.fa-plus,
.fas.fa-minus{
    height: auto;
}
.delivery-options-area-list{
    margin:0 1.5rem;
    padding: 0 0.5rem 0 1rem;
    display: flex;
    flex-direction: column;
}
.delivery-options-area-list-item{
    width: 100%;
    margin: 0.5rem 0;
    font-family: var(--extra-font);
    font-size:1.1rem;
    text-decoration: none;
    color:black;
}
hr{
    background:rgb(206, 201, 201);
}

@media screen and (min-width:768px){
    .delivery-options-area-menu{
        display: none;
    }
    .delivery-options-buttons{
        width:40%;
    }
    .delivery-options-buttons-delivery,
    .delivery-options-buttons-pickup{
        cursor: pointer;
    }
    .delivery-options-main{
        align-items: center;
    }
    .delivery-options-area-list{
        margin:0 1.5rem;
        padding: 0 0.5rem 0 1rem;
        display: flex;
        flex-direction: column;
        width: 40%;
    }
}