:root{
    --green:#3E8E37;
    --font-lato: 'Lato', sans-serif;
}
.faq-main{
    padding:1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
}
.faq-image{
    height: 10rem;
    width: 100%;
}
.faq-title{
    height: auto;
    margin: 0 0 2rem 0;
    color:var(--green);
    width: 100%;
    text-align: center;
    font-size:2.5rem;
}
.faq{
    height: auto;
    width: 100%;
    padding:1rem;
    border:2px solid var(--green);
    border-radius: 10px;
}
.question-item{
    align-items: center;
    height: auto;
    overflow: hidden;
}
.question-view{
    display: flex;
    align-items: center;
    padding:0.5rem;
    cursor: pointer;
}
.fas.fa-circle{
    color:var(--green);
}
.question{
    margin:0 0 0 0.5rem;
}
.answer-view{
    /* display: flex; */
    overflow: hidden;
    transition: height 0.5s;
    padding:0 1.5rem;
}
.answer-view.active{
    display: flex;
    transition: height 0.5s;
    padding:0 1.5rem
}
.answer-line{
    display: flex;
    height:auto;
    border:1px solid gray;
    margin:0 0 0 0.5rem;
}
.answer{
    /* margin: 0 0 0 1.2rem; */
    font-size:0.8rem;
    font-family: var(--font-lato);
    /* display: flex;
    align-items: center; */
}

@media screen and (min-width:768px){
    .faq-main{
        align-items: center;
        min-height:20rem;
        margin:1rem 0; 
    }
    .faq{
        width:60%;
    }
}