:root{
    --primary:#3E8E37;
}
.food-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem 1rem;
    height: 25.8rem;
}
.food-image{
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding:0.5rem;
}
.food-info{
    width: 100%;
    align-self: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    height: auto;
}
.food-wish-group{
    display: flex;  
    align-items: center;
    justify-content: flex-end;
}.title-wish{

}
.fas.fa-heart.fa-lg{
    height: auto;
}
.food-info-des{
    font-family: 'Lato', sans-serif;
    margin:0 0rem 0rem 1rem;
}
.food-info-title{
    font-size: 2rem;
    margin:1rem;
    width: 100%;
}
.food-info-instruction-input{
    background:none;
    border:none;
    width: 100%;
    padding:0.2rem 0rem;
    font-family: 'Lato', sans-serif;
}
hr{
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
}
.food-info-price{
    margin:1rem 0rem 0rem 1rem;
}
.food-info-instruction{
    margin:0.5rem 0rem 0rem 1rem;
}
.food-info-count{
    margin:1rem 0rem 0rem 1rem;
    display: flex;
    font-size:2rem;
    align-items: center;
}
.food-info-count-inc{
    cursor: pointer;
    padding: 0 2rem 0 0;
    font-size:3rem;
}
.food-info-count-inc:hover{
    color: var(--primary);
}
.food-info-count-dec{
    cursor: pointer;
    padding: 0 0 0 2rem;
    font-size:3rem;
}
.food-info-count-dec:hover{
    color:var(--primary);
}
.food-info-add:hover{
    border: 2px solid var(--primary);
    box-shadow: 1px 1px 8px 6px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px;
    background:var(--primary);
    color:white;
    cursor: pointer;
}
.food-info-add{
    margin:1rem 0rem 0rem 1rem;
    background: black;
    border: 2px solid black;
    padding:0.7rem 1rem;
    color:white;
    border-radius: 50px;
    width:20rem;
    height:auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
.food-info-add-cart{
    display: flex;
    justify-content: flex-end;
    width: 40rem;
}
.food-info-add-price{
    width: 40rem;
}

@media screen and ( max-width:768px ){
    .food-image img{
        width:100%;
    }
    .food-info-add{
        width: 90%;
    }
    .food-main{
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        margin:none;
        padding:none;
    }
    .food-image{
        margin: 3rem 0rem 0rem 0rem;
        height: auto;
        width: auto;
        margin:none;
        padding:none;
    }
    .food-info{
        width: 100%;
        padding: 0;
    }
}
