*{
    height:100%;
}
:root{
    --green:#3E8E37;
}
.banner{
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url('../images/bg1.jpeg');
    min-height:29rem;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.banner-title{
    font-size:3rem;
    color: #fff;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding:1rem;
    overflow-wrap: break-word;
}
.button-selector-group{
    display: flex;
    border: 3px solid white;
    border-radius: 30px;
    height:50px;
    width:25rem;
    margin: 2rem;
    overflow: hidden;
}
.button-selector-delivery{
    width: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    overflow: hidden;
}
.button-selector-delivery-active{
    width: 50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background:var(--green);
    overflow: hidden;
    padding: 0.5rem 0.5rem;
}
.button-selector-pickup{
    width: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    overflow: hidden;
}
.button-selector-pickup-active{
    width: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background:var(--green);
    overflow: hidden;
    padding: 0.5rem 0.5rem;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 30px;
    height:auto;
    width:25rem;
    color:white;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 1rem;
    overflow: hidden;
}
.button:hover{
    background:#3E8E37;
}

@media screen and (max-width:960px){
    .banner{
        height: 87%;
        width: 100%;
    }
    .button-selector-group{
        width: 70%;
        height: auto;
        border-radius: 40px;
    }
    .button{
        width: 70%;
        height: auto;
        padding:0.5rem 1rem;
        border-radius: 40px;
    }
    .button-selector{
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    @media screen and (min-height:1280px){
        .button{
            height: 7vh;
        }
        .button-selector-group{
            height: 7vh;
        }
    }
}
