.search-main{
    display: flex;
    justify-content: center;
    min-height: 30rem;
    height: auto;
    align-items: center;   
    padding:1rem;
}
h1{
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    width: 100%;
}
/* cardview section */
.search-card-section{
  margin:1rem 0.5rem 0.5rem 1rem;
  height: auto;
}
.search-card-grid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-auto-rows: 11rem;
  grid-row-gap: 1rem;
  height: auto;
}
.search-card-view{
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  height: auto;
  width: 48vw;
  padding: 0.5rem;
  margin: 0rem 0.4rem;
  text-decoration: none;
  color:black;
  overflow: auto;
}
.search-card-view-col-1{
  width:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.3rem;
  height: 10rem;
  box-shadow: var(--shadow);
}
.search-card-view-col-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size:1rem;
  height:100%;
  width: 100%;
  padding: 0.5rem 0.5rem;
}
.search-card-view-title{
  display: flex;
  align-items: center;
  height: auto;
}
.search-card-view-des{
  font-size:1rem;
  font-family: 'Lato', sans-serif;
  color:gray;
  margin:0.5rem 0;
}
.search-card-view-price{
  background: black;
  border: 2px solid black;
  padding:0.2rem 0.5rem;
  color:white;
  border-radius: 20px;
  width:25%;
  height:auto ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-card-view-price:hover{
  border: 2px solid #3E8E37;
  box-shadow: 1px 1px 8px 6px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px;
  background:#3E8E37;
  color:white;
  cursor: pointer;
}
.placeholder-image{
  height: 20rem;
}