:root{
    --light-green: #d4eed2;
    --green: #3E8E37;
    --shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.view-cart{
    min-height: 25.5rem;
    padding:0rem 1rem;
    height: auto;
}
.view-cart-title{
    display:flex;
    justify-content: center;
    padding:1rem 0rem 0.5rem 0;
    font-size: 2rem;
    color:var(--green)
}
.view-cart-type{
    display: flex;
    justify-content: center;
    background: var(--light-green);
    padding:0.4rem 0;
    font-size: 1rem;
}
.empty-cart{
    display: flex;
    flex-direction: column;
    padding:1rem;
    align-items: center;
    justify-content: center;
}
.empty-cart-image{
    height: 20rem;
    width: 100%;
}
.empty-cart-text{
    color:var(--green);
    font-size: 2rem;
}
.view-cart-list{
    display: flex;
    flex-direction: column;
    padding:1.5rem 0;
}
.view-cart-list-item{
    display: flex;
    align-items: center;
    padding:0 1rem 1rem 1.5rem;
}
.view-cart-list-image{
    display: flex;  
    width: 10rem;
    box-shadow: var(--shadow);
    padding:0.2rem;
}
.view-cart-list-col1{
    display: flex;
    width: 100%;
}
.view-cart-list-col2{
    height: auto;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.view-cart-list-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.view-cart-list-count{
    display: flex;
    justify-content: flex-end;
}
.fas.fa-plus-circle{
    display: flex;
    align-items: center; 
}
.fas.fa-minus-circle{
    display: flex;
    align-items: center; 
}
.view-cart-list-items-count-no{
    padding:0rem 2rem;
    font-size: 1.5rem; 
}
.view-cart-list-col3{
    height: auto;
    display: flex;
    width: 50%; 
}
.view-cart-list-remove{
    display: flex;
    cursor: pointer;
    align-items: center;
    width: 100%;
    justify-content: center;
    color:#BF1929
}
.view-cart-list-remove:hover{
    color: black
}
.fas.fa-minus-circle,
.fas.fa-plus-circle
{
    color:var(--green);
    cursor: pointer;
}
.fas.fa-minus-circle:hover,
.fas.fa-plus-circle:hover{
    color:black;
}
.view-cart-list-price{
    display: flex;
    width: 5rem;
    align-items: center;
}
.view-cart-buttons{
    display: flex;
    justify-content: center;
    margin:2rem 0;
    white-space: nowrap;
    height: auto;
}
.view-cart-buttons-cont-shop{
    background:black;
    color:white;
    border-radius: 30px;
    padding: 1rem 1rem;
    margin: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    height: auto;
    text-align: center;
}
.view-cart-buttons-checkout{
    padding: 0 0 0 1rem;
    background:black;
    color:white;
    width: 8rem;
    border-radius: 30px;
    padding: 1rem 1rem;
    text-align: center;
    margin: 0 1rem;
    cursor: pointer;
}
.view-cart-buttons-cont-shop:hover,
.view-cart-buttons-checkout:hover{
    background:var(--green);
}
img{
    width:100%;
    height: 100%;
}
@media screen and (max-width:600px){
    .navbar-logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .empty-cart{
        height: auto;
    }
    .view-cart-list-count{
        width: 100%;
    }
  .fas.fa-plus-circle,
  .fas.fa-minus-circle{
      width: 100%;
      justify-content: center;
      cursor: pointer;
  }
  .view-cart-list-item{
    padding:1rem 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
    .view-cart-list-image{
        padding:0.5rem;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0.1rem;
        margin:0.5rem;
    }
    .view-cart-list-col1{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0 0.5rem;
    }
    .view-cart-list-col2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .view-cart-list-title{
        justify-content: flex-start;
    }
    .view-cart-list-count{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .view-cart-list-items-count-no{
        display: flex;
        justify-content: flex-start;
        width: auto;
        padding:0 10%;
        flex: 0 1 1;
    }
    .fas.fa-minus-circle,
    .fas.fa-plus-circle{
        justify-content: flex-start;
        width: auto;
    }
    .view-cart-list-col3{
        flex-direction: column-reverse;
        width: 50%;
        align-items: flex-end;
        width: 100%;
    }
    .view-cart-list-remove{
        justify-content: flex-end;
        width: auto;
    }
    .view-cart-list-price{
        justify-content: flex-end;
        width: 100%;
    }
    .view-cart-buttons{
        white-space: pre-wrap;
        flex-direction: column;
        align-items: center;
    }
    .view-cart-buttons-cont-shop{
        width: 80%;
        margin: 0.5rem 0;
    }
    .view-cart-buttons-checkout{
        width: 80%;
        margin: 0.5rem 0;
    }
}