:root{
    --light-green: #d4eed2;
    --green: #3E8E37;
    --shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    --lato:  'Lato', sans-serif;
}
.wishlist{
    min-height: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wishlist-title{
    height: 8rem;
    width: 100%;
    background:var(--light-green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.wishlist-items-card{
    height: auto;
    overflow: hidden;   
    width: auto;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    top:-1.5rem;
    background:white;
    padding:1rem 1rem;
    margin:0 5rem;
}
.title-wish-group{
    display: flex;
}
.empty{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}
.wish-empty{
    height: 70%;
    width: 70%;
}
.empty h1{
    padding:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-family: var(--lato);
}

@media screen and (max-width:960px){
    .wishlist-items-card{
        margin:0 1rem;
    }
    .empty h1{
        font-size: 1.5rem;
    }
}