:root{
    --green:#3E8E37
}
.add-cart-button{
    display: none;
}
@media screen and (max-width:960px){
    .add-cart-button{
        display: flex;
        height:auto;
        background: var(--green);
        margin: 0 1rem 1rem 1rem;
        color: white;
        border-radius: 10px;
        padding:0.5rem 1rem;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: none;
    }
    .add-cart-button:hover{
        background:black;
    }
    .add-cart-button-view{
        display: flex;
    }
}
