:root{
    --light-green: #d4eed2;
    --green: #3E8E37;
    --shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    --lato:  'Lato', sans-serif;
}
.card-main{
    border-radius: 5px;
    height:auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 0.5rem;
    row-gap: 1rem;
}
.card-item{
    height: auto;
    width: auto;
    display: flex;
    box-shadow: var(--shadow);
    padding:0.5rem;
    border-radius: 5px;
    width: 46vw;
    cursor: pointer;
}
.image{
    height: auto;
    width: auto;
    padding:0.3rem;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
}
.image img{
    height: 10rem;
    width: 10rem;
}

.info{
    width: 100%;
    padding:0.5rem;
    display: flex;
    flex-direction: column;
}
.title-wish{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.title{
    width: 100%;
}
.wish-view{
    height: auto;
}
.des{
    font-family: var(--lato);
    margin:1rem 0;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    background:black;
    border-radius: 20px;
    width: 6rem;
    height: auto;
    color: white;
    padding:0.5rem 1rem;
}

@media screen and (max-width:960px){
    .card-main{
        grid-template-columns: repeat(1,auto);
    }
    .card-item{
        width: auto;
    }
    .image{
        width: auto;
    }
    .image img{
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .card-main{
        grid-template-columns: repeat(1,auto);
    }
    .image{
        width: auto;
    }
    .card-item{
        flex-direction: column;
    }
    .price{
        width: 100%;
    }
    .des{
        min-width: auto;
    }
}