.footer{
    height:9rem;
    width: 100%;
    background:black;
    color:white;
    display: grid;
    grid-template-columns: repeat(3,auto);
    position: absolute;
    bottom: auto;
    margin: 0 0 -1rem 0;
}
.footer-col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33vw;
}
.footer-col-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33vw;
    padding:2rem 1rem;
}
.footer-social{
    display: flex;
}
.footer-social-icon{
    padding:1rem 1rem;
}
.footer-social-icon:hover{
    color:#3E8E37;
    cursor: pointer;
    transition: all linear 0.3s;
}
.footer-info{
    font-family: 'Lato', sans-serif;
}
.footer-col-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33vw;
}

@media screen and (max-width:960px){
    .footer{
        display: none;
    }
}
@media only screen and (min-height:1280px) {
    .footer{
        bottom:0;
    }
}