.form-view{
    display: flex;
    flex-direction: column;
    height: auto;
    padding:0.5rem;
    width: 100%;
}

.form-view-field{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.5rem 0;
}
.form-view-input{
    padding: 10px 16px 0 10px;
    width: 100%;
    outline: 0;
    border: none;
    font-size: 1rem;;
    margin: 0.5rem 0 0.5rem 0;
}
.form-view-field label{
    position: absolute;
    transform: translate(0, 1.2rem) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
    padding: 0 0.5rem;
    color: #999;
    pointer-events: none;
}
.form-view-field:focus-within label{
    transform: translate(0, 2px) scale(0.75);
    color: var(--green);
}
.form-view-field .Active{
    transform: translate(0, 2px) scale(0.75);
}

.form-view-button-field{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.form-view-button{
    height: 100%;
    color: var(--green);
    border-radius:20px;
    padding:0.5rem 0;
    margin: 0.5rem 0;
    border: 1px solid #999;
    background:none;
    cursor: pointer;
    width: 100%;
}
/* form validation */
.validate{
    color:red;
    font-size: 1rem;;
}