.top-view{
    background:#3E8E37;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.top-view-delivery-text{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    width: 100%;
}
.top-view-info{
    display:grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    width:80%;
    justify-content: end;
}
.top-view-info-item{
    display:flex;
    align-items:center;
    height: 80px;
}
.top-view-info-links{
    text-decoration:none;
    color:#fff;
    padding: 0.5rem 1rem
}
.top-view-info-links:hover{
    background-color:#1B1818;
    transition: all 0.2s ease-out; 
}

.navbar{
    height:auto;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    width: 100%;
    flex:1;
}
.navbar-logo{
    /* width:400px; */
    text-decoration:none;
    color:#fff;
    font-size:1.5rem;
    padding: 0 1.5rem;
    width:auto; 
    height: auto;
    white-space: nowrap;
}
.menu-icon{
    display:none;
}
/* cart icon in mobile */
.cart-icon-link{
    display: none;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    justify-content: end;
    width:100%;
}
.nav-item-search{
    display:flex;
    align-items:center;
    height:auto;
}
.nav-item,
.nav-item-view-cart,
.nav-item-branch,
.nav-item-faq{
    flex-direction: column;
    display:flex;
    align-items:center;
    height:auto;
}
.nav-links{
    color:#fff;
    text-decoration: none;
    padding:1.5rem 1rem;
    cursor: pointer;
}
.nav-links-search-active{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding:0.8rem 1rem;
    cursor: pointer;
    background:white;
    height: auto;
    border-radius: 40px;
    border:1px solid white;
}
.nav-links-search{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding:0.8rem 1rem;
    cursor: pointer;
    height: auto;
    border-radius: 40px;
}
.search-icon{
    background:cyan;
    display: flex;
    align-items: center;
}
.fas.fa-search{
    height: auto;
    margin: 0 0.5rem;
    color:white;
}
.fas.fa-search.active{
    height: auto;
    margin: 0 0.5rem;
    color:black;
}
.search-input{
    display: flex;
    height: auto;
    width: 0;
    transition: all 0.5s;
    overflow: hidden;
}
.search-input-active{
    display: flex;
    height: auto;
    border: none;
    width: 9rem;
    transition: all 0.5s;
    overflow: hidden;
}
input:focus-within{
    outline: none;
}
.search-input-field.active{
    width: 100%;
    border:none;
    overflow: hidden;
}
.search-input-field{
    background:none;
    width: 100%;
    transition: all 1s;
    border:none;
    overflow: hidden;
}
.nav-links-cart{
    color:#fff;
    text-decoration: none;
    padding:1.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.nav-links-cart-icon{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 0;
}
.fas.fa-shopping-cart{
    height: auto;
}
.cart-count{
   z-index: 1;
   background:var(--green);
   border-radius:40px;
   height: auto;
   padding:0 0.3rem;
   font-size:0.6rem;
   position: absolute;
   top:0;
}
.nav-links-cart-total{
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.nav-links:hover{
    background:#3E8E37 ;
}
@media screen and ( max-width:960px ){
    .navbar{
        width: 100%;
        position: relative;
    }
    .navbar-logo{
        padding:1.5rem;
        white-space: pre-wrap;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .top-view,
    .nav-item-search,
    .nav-item-view-cart{
        display:none;
    }
    .cart-icon-link{
        color:#fff;
        text-decoration: none;
        padding:1.5rem 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: auto;
    }
    .cart-icon{
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 0.5rem 0 0;
    }
    .fas.fa-shopping-cart.cart-icon{
        height: auto;
    }
    .cart-icon-count{
       z-index: 1;
       background:var(--green);
       border-radius:40px;
       height: auto;
       padding:0 0.3rem;
       font-size:0.6rem;
       position: absolute;
       top:-0.5em;
       right:1em;
    }
    .menu-icon{
        display: block;
        color:white;
        transform: translate(-50%,3%);
        padding:0.5rem;
        margin: 0 0 0 0.5rem;
    }
    .fas.fa-bars{
        height: auto;
    }
    .nav-menu{
        position:absolute;
        left:-100%;
        top:100%;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
    }
    .nav-menu.active{
        position: absolute;
        z-index: 10;
        left:0;
        opacity: 1;
        background:#242222;
        height:auto;
        padding:1rem 0rem;
    }
    .nav-links{
        width:100%;
        z-index: 1;
        text-align:center;
        font-size:1.6rem;
    }
    .nav-item-branch,
    .nav-item-faq{
        display:flex;
        align-items:center;
        height:80px;
    }
}