:root{
    --green:#3E8E37;
    --black-shadow: 1px 8px 6px 0px #999, 0 1px 1px 0 #999;
}
.main{
    position:fixed;
    width: 100%;
    z-index:10;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7))
}
.sign-in{
    position:absolute;
    width: 100%;
    background:white;
    display: flex;
    flex-direction: column;
    padding:0.5rem 0.5rem;
}
.sign-in-close{
    padding:1rem 1rem;
    height: auto;
    text-align: end;
    background:var(--green);
    color:white;
}
.sign-in-title{
    height:auto;
    font-size:2rem;
    color: var(--green);
    text-align: center;
    padding:2rem 0;
}
.sign-in-buttons{
    display: flex;
    height: auto;
    color:white;
    height:10%;
    width: 100%;
    background:black;
    border-radius: 10px;
}
.sign-in-buttons-signin{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.sign-in-buttons-signin-active{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--green);
    border-radius: 10px;
}
.sign-in-buttons-signup{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.sign-in-buttons-signup-active{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--green);
    border-radius: 10px;
}
.sign-in-buttons-views{
    width: 100%;
    overflow: auto;
}

.sign-in-footer{
    height: 5rem;
    text-align: end;
    background:var(--green);
    color:white;
}


@media screen and (min-width:768px){
    .main{
        width:100%;
        height: 100%;
        overflow: auto;
        display: flex;
        align-items: center;
    }
    .sign-in{
        width:40%; 
        border-radius: 5px;
        box-shadow: var(--black-shadow);
        left: 30%;
        height: 100%;
    }


    .sign-in-buttons-signin,
    .sign-in-buttons-signin-active,
    .sign-in-buttons-signup,
    .sign-in-buttons-signup-active{
        cursor: pointer;
        padding:0.5rem 0;
    }
    .sign-in-buttons{
        height: auto;
    }
    .sign-in-close{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}
@media only screen and (min-height:1000px) {
    .main{
        background:rose;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sign-in{
        height: auto;
    }
}