
:root{
  --green:#3E8E37;
  --shadow:1px 1px 8px 5px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
/* .tab-nav-main{
  height: auto;
  background:pink;
} */
.tab-nav {
    display: flex;
    align-items: center;
    height: auto;
    background-color: black;
    font-size: 1.3rem;
    color: white;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .tab-nav-menu{
      display: grid;
      grid-template-columns: repeat(6,auto);
      grid-gap:10px;
      list-style: none;
      justify-content: start;
      align-items: center;
      height: auto;
      width: auto;
      overflow-x:auto;
  }
  .nav-items{
      height:auto;
      display: flex;
      align-items: center;
      width: auto;
  }
  .nav-items-clicked{
    height:auto;
    display: flex;
    align-items: center;
    width: auto;
    background: var(--green);
  }
  .nav-items:hover{
    background: var(--green);
  }
  .nav-link{
    color:#fff;
    transition: all 3s ease-in;
    text-decoration: none;
    padding:0.6rem 1rem;
    height: 100%;
    white-space: nowrap;
  }
/* cardview section */
.card-section{
  margin:1rem 0.5rem 0.5rem 1rem;
  height: auto;
  display: flex;
  justify-content: center;
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-auto-rows: auto;
  grid-row-gap: 2rem;
  height: auto;
}
.card-view{
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  height: auto;
  width: 47vw;
  padding: 0.5rem;
  margin: 0rem 0.4rem;
  text-decoration: none;
  color:black;
}
.card-view-col-1{
  width:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.3rem;
  height: auto;
  width: auto;
  box-shadow: var(--shadow);
}
.card-view-col-1 img{
  height:10rem;
  width: 10rem;
}
.card-view-col-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size:1rem;
  height:100%;
  width: 100%;
  padding: 0.5rem 0.5rem;
}
.card-view-title{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}
.title-wish-group{
  display: flex;
  justify-content: flex-end;
  width: 100%;

}
.wish{
  display: flex;
  height: auto;
  width: auto;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0 0 0 0.5rem;
  text-decoration: none;
  color:black;
}
.far.fa-heart.fa-lg{
  width: auto;
  height: auto;
  cursor: pointer;
}
.fas.fa-heart.fa-lg{
  width: auto;
  height: auto;
  color:var(--green);
  cursor: pointer;
}

.card-view-des{
  font-size:1rem;
  font-family: 'Lato', sans-serif;
  color:gray;
  margin:0.5rem 0;
}

.card-view-price{
  background: black;
  border: 2px solid black;
  padding:0.2rem;
  color:white;
  border-radius: 20px;
  width:25%;
  height:auto ;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin: 0 0.5rem 0 0;
}
.card-view-price:hover{
  border: 2px solid #3E8E37;
  box-shadow: 1px 1px 8px 6px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px;
  background:#3E8E37;
  color:white;
  cursor: pointer;
}
@media screen and (max-width:960px){
  .card-grid{
    grid-template-columns: repeat(1,auto);
    grid-auto-rows: 15rem;
    width: 100%;
    grid-row-gap: 0;
  }
  .card-view{
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0rem;
    
  }
  .card-view-col-1{
  width: auto;
  }
  .card-view-price{
    width: 100%;
  }
  .card-view-col-1 img{
    height:100%;
    width: 100%;
  }
}
@media screen and (max-width:600px){
  .card-grid{
    grid-auto-rows: auto;
  }
  .card-view{
    flex-direction: column;
    align-items: start;
    height: auto;
  }

}